body,
html {
  font-family: '微软雅黑', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
}
h1,
h2 {
  font-weight: normal;
}
ul li {
  list-style-type: none;
}
a {
  color: #42b983;
}
.mm-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.mm-content {
  height: 100%;
  float: left;
}
.btnCss {
  font-family: PingFangSC-Medium;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 4px;
  color: #ffffff;
  border: 1px solid #58a7f8;
  border-image: initial;
  background: #58a7f8;
  margin: 10px;
}
.btnCss:hover {
  opacity: 0.8;
  background: #58a7f8;
}
.navbarWrapper {
  width: 120px;
  height: 100%;
  float: left;
  border-right: 1px solid #ccc;
  position: relative;
}
